[package]
name = "game"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
plugin_lib = { path = "../plugin_lib" }
libloading = "0.8.0"
igd = "0.12.0"
